@import "../utils/variables.scss";

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid $border-color;
    background: $base-bg;
    z-index: 100;
}
.box-logo {
    flex-grow: 1;
}
.logo {
    max-width: 110px;
    img {
        display: block;
        width: 100%;
    }
}