@import "../utils/variables.scss";

.app-nav {
    .open-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 41px;
        height: 41px;
        margin-left: 5px;
        border: none;
        background: none;
        color: #999;
        transition: color .2s ease-in-out;
        cursor: pointer;
        &:hover,
        &.is-active {
            color: #fff;
        }
        &::before {
            content: '';
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            background: rgba(0, 0, 0, .7);
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
        }
        &.is-active {
            &::before {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .box-nav {
        position: fixed;
        top: 50%;
        left: 50%;
        display: block;
        width: 200px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid $border-color;
        background: $base-bg;
        text-align: center;
        color: #ccc;
        transform: translate(-50%, -50%);
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
        z-index: 20;
        &.is-active {
            visibility: visible;
            opacity: 1;
        }
        span {
            display: block;
            padding: 0 0 10px;
            font-size: 16px;
            text-align: center;
            color: dodgerblue;
        }
        button {
            display: block;
            width: 100%;
            height: 50px;
            margin-bottom: 10px;
            border-radius: 40px;
            border: 1px solid $border-color;
            background: none;
            color: #ccc;
            transition: border-color .2s ease-in-out, background-color .2s ease-in-out, color .2s ease-in-out;
            cursor: pointer;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover,
            &.is-active {
                border-color: coral;
                background: coral;
                color: #fff;
            }
            &.close-btn {
                border-color: $dark-red;
                background: $dark-red;
                color: #fff;
                &:hover {
                    border-color: $dark-red--hover;
                    background: $dark-red--hover;

                }
            }
        }
    }
}