@import "../utils/variables.scss";

.tasks-list {
    li {
        order: 1;
        display: flex;
        margin: 5px 0;
        padding: 0;
        border-radius: 4px;
        border: 1px solid $border-color;
        label {
            display: flex;
            align-items: center;
            padding: 0 10px;
            cursor: pointer;
            ins {
                position: relative;
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 1px solid $border-color;
                &::before {
                    content: '';
                    position: absolute;
                    top: calc(50% - 7px);
                    left: calc(50% - 8px);
                    display: block;
                    width: 18px;
                    height: 9px;
                    border-left: 3px solid coral;
                    border-bottom: 3px solid coral;
                    transform: rotate(-45deg);
                    opacity: 0;
                }
            }
        }
        div {
            flex-grow: 1;
            padding: 10px 10px 10px 0;
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: .2px;
            color: #999;
        }
        input {
            flex-grow: 1;
            padding: 10px 10px 10px 0;
            border: none;
            background: none;
            box-shadow: none;
            font-size: 14px;
            line-height: 1.5;
            letter-spacing: .2px;
            color: dodgerblue;
            outline: none;
        }
        .label {
            margin-right: 4px;
        }
        .clamp {
            margin-left: -4px;
            margin-right: 4px;
        }
        .toggle-text {
            display: inline-block;
            color: coral;
            text-decoration: none;
            cursor: pointer;
            opacity: .8;
        }
        .remove-task {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 41px;
            margin: 0;
            padding: 0;
            border: none;
            background: none;
            font-size: 21px;
            font-weight: 700;
            line-height: 38px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #999;
            cursor: pointer;
            outline: none;
            transition: color .2s ease-in-out;
            &:hover {
                color: #fff;
            }
        }
        &.is-checked {
            order: 0;
            opacity: .5;
            transition: opacity .2s ease-in-out;
            &:hover {
                opacity: 1;
            }
            label {
                ins {
                    &::before {
                        opacity: 1;
                    }
                }
            }
            .label {
                text-decoration: line-through;
            }
        }
        &.is-hide {
            display: none;
        }
    }
}