@font-face {
    font-family: $font-name;
    src: url('#{$font-path}#{$font-name}.eot');
    src: url('#{$font-path}#{$font-name}.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}#{$font-name}.woff') format('woff');
    font-weight: 400;
}