* {
    box-sizing: border-box;
    &::before,
    &::after {
        box-sizing: border-box;
    }
}
html {
    font: $base-font;
}
body {
    width: 100%;
    margin: 0;
    padding: 10px;
    background: $base-bg;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}
blockquote, q {
    quotes: none;
    &::before,
    &::after {
        content: '';
    }
}
table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-width: 0;
}
td {
    margin: 0;
    padding: 0;
}
form {
    margin: 0;
    padding: 0;
}
input, textarea, button {
    border-radius: 0;
    font: $base-font;
    outline: none;
    -webkit-appearance: none;
    box-shadow: none;
}
div, span {
    outline: none;
}