@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?94ojut');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?94ojut#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?94ojut') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?94ojut') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?94ojut##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow {
  &:before {
    content: $icon-arrow; 
  }
}
.icon-filter {
  &:before {
    content: $icon-filter; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-nav {
  &:before {
    content: $icon-nav; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}

