@import "utils/variables.scss";

.user-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-top: 1px solid $border-color;
    background: $base-bg;
    z-index: 10;
    .add-task {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        input {
            flex-grow: 1;
            display: block;
            height: 41px;
            margin: 0;
            padding: 0 15px;
            border-radius: 40px;
            border: 1px solid $border-color;
            background: transparent;
            line-height: 38px;
            color: #ccc;
            outline: none;
            transition: border-color .2s ease-in-out;
            &.has-error {
                border-color: #dd0000;
            }
            &::placeholder {
                color: #999;
            }
            &:focus {
                &::placeholder {
                    color: transparent;
                }
            }
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 41px;
            height: 41px;
            margin: 0 0 0 5px;
            padding: 0;
            border: none;
            background: none;
            font-size: 21px;
            font-weight: 700;
            line-height: 38px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #999;
            cursor: pointer;
            outline: none;
            transition: color .2s ease-in-out;
            &:hover {
                color: #fff;
            }
        }
    }
}
.tasks-list {
    display: flex;
    flex-direction: column-reverse;
    margin: 75px 0 70px;
    padding: 0 10px;
    list-style: none;
}